<section>
	<div class="section-header">
		<h1>Editar eleccion</h1>
		{{link-to "Todos las elecciones" "data-entry.municipabilities.electoral-elections.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/electoral-elections/form"}}
	</div>
</section>
