<section>
	<div class="section-header">
		<h1>Nueva elección</h1>
		{{link-to "Ver todas" "data-entry.elections.elections.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/elections/form"}}
	</div>
</section>
