<section>
	<div class="section-header">
		<h1>Crear instancia de elección</h1>
		{{link-to "Ver todos" "admin.election-instances.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/election-instances/form"}}
	</div>
</section>

