  <fieldset>	
    <label>
    	Fuerza Politica
          {{model-finder modelName='political-force' list=formula.politicalForce labelPath="name" sigle=true}}
  	</label>  
    <label>
    	Votos
        {{input type="number" value=formula.votes}}
  	</label> 
     <label>
    	Porcentaje
        {{input type="number" value=formula.percent}}
  	</label> 	   	 	
 </fieldset> 	