<section>
	<div class="section-header">
		<h1>Crear categoría de elección</h1>
		{{link-to "Ver todos" "admin.election-categories.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/election-categories/form"}}
	</div>
</section>

