<section>
	<div class="section-header">
		<h1>Nuevo Candidato</h1>
		{{link-to "Todos los candidatos" "data-entry.elections.candidates.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/candidates/form"}}
	</div>
</section>