<section>
	<div class="section-header">
		<h1>Nuevo partido político</h1>
		{{link-to "Ver todos" "data-entry.elections.political-forces.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/political-forces/form"}}
	</div>
</section>
