<section>
	<div class="section-header">
		<h1>Nueva Partido politico</h1>
		{{link-to "Todos los partidos Politicos" "data-entry.elections.political-parties.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/political-parties/form"}}
	</div>
</section>
