header.-admin {
	
	  .menu-button {
		  -webkit-transform: translate3d(0, 0, 0px);
		  transform: translate3d(0, 0, 0px);
	  }
	
}

.menu-wrap {
	&.-admin {
		  -webkit-transform: translate3d(305px, 0, 0);
  			transform: translate3d(305px, 0, 0);
  		&.show {
  					  -webkit-transform: translate3d(0, 0, 0);
  			transform: translate3d(0, 0, 0);
  		}
	}
}

.content {

	&.-admin {
		  margin-right: 0;
	}
	
}

.charge-today {
    

    .fa-ban {
    	display: none;
    }
}