
html, body, .content {
	height: 100%;
}

ol, ul {
	list-style: none;
}

body {
	background: #f1f1f1;
	color: #333;
	font-weight: 400;
	font-size: 1em;
	
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));

}

a {
	color: #4e4a46;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: darken(#0083ff, 5%);
	outline: none;
}

button:focus {
	outline: none;
}

section {
	padding: 1em 0;

	 @include media($mobile) {
	  padding: 1em;
	  }
	
	h1, h2 {
		text-align: center;
	}

}


p,
ul,
ol {
    font-size: 16px;
    line-height: 1.4em;
}

.btn {
	font-family: $font-sans-caption;
	font-size: 12px;
}

button {
  font-family: $font-sans-caption;
  font-weight: bold;
}

fieldset {
  border: none;
}


.container {
	
}

.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #333;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;


}

.content-wrap.show {
	opacity: 0.2;
}

header.is-visible {
	-webkit-transform: translate3d(0px, 135px, 0px);
	transform: translate3d(0px, 135px, 0px);
}

.content.is-visible {
	-webkit-transform: translate3d(0px, 0, 0px);
	transform: translate3d(0px, 0, 0px);
	opacity: 0.1;
}

.content {
	position: relative;
	background: #f1f1f1;
	padding: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	padding-top: 90px;
	
	section {
		@include outer-container(100%);
	}


 @include media($mobile) {
  padding-top: 60px;
  }


	margin-right:0;

	

	  &.-data {
	  	padding-top: 0;
	  }

}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 0.8em;
	padding: 0px;
	width: 1.5em;
	height: 1.5em;
	border: none;
	font-size: 1.8em;
	background: none;
	right: 0;
	color: #fff;
	cursor: pointer;
	z-index: 2001;
	opacity: 0.8;
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
	-webkit-transform: translate3d(0px, 0, 0px);
	transform: translate3d(0px, 0, 0px);

	.menu-notification {
		position: absolute;
		top: 0px;
		right: 0;
		padding: 0.4em 0.7em;
		font-size: 12px;
	}



}

.menu-button:hover {
	opacity: 1;
}

.logo {
	text-align: center;
	background: #fff;
	position: fixed;
	margin: 1em;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50px;
	z-index: 2001;
	padding: 3px 5px;
	border: none;
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));

}

.close-button {
	position: fixed;
	z-index: 2001;
	margin: 0.8em;
	padding: 0px;
	width: 1.5em;
	height: 1.5em;
	border: none;
	font-size: 1.8em;
	color: #FFF;
	background: transparent;
	left: 0;	
	opacity: 0.8;
  	cursor: pointer;
  	top: 20px;

  	&:hover {
  		opacity: 1;
  	}
}

.change-app-container {
	width: 100%;
	height: 135px;
	-webkit-transform: translate3d(0px, -135px, 0px);
	transform: translate3d(0px, -135px, 0px);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	background: shade(#1EBCEF, 10%);
	position: fixed;
	z-index: 4003;
	top: 0;

	ul {
		padding: 0 10px 0 10px;

		height: 100%;
		margin: 0;
	}

	li {

		@include span-columns(2);
		
		height: 100%;
		text-align: center;
		color: #fff;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		border-bottom: 0px solid shade(#0083ff, 50%);


		&.active {
			border-bottom: 6px solid shade(#1ba9d7, 40%);
		}

		&:hover {
			border-bottom: 6px solid shade(#1ba9d7, 70%);
		}

		a {
			display: block;
			margin: 0;
			color: #fff;
			line-height: 16px ;

			span {
				$text-header: new-breakpoint(max-width 800px 6);
				@include media($text-header) {
					display: none;
				}
			
			}
			

			.fa {
				display: block;
				font-size: 38px;
				margin-bottom: 10px;
				 margin-top: 28px;
				 $text-header: new-breakpoint(max-width 400px 6);
				 @include media($text-header) {
					margin-top: 40px;
				}
			}


		}


	}

	&.is-visible {
		-webkit-transform: translate3d(0px, 0, 0px);
		transform: translate3d(0px, 0, 0px);
	}

}



.search-button {
	position: fixed;
	z-index: 2001;
	margin: 0.8em;
	padding: 0px;
	width: 1.5em;
	height: 1.5em;
	border: none;
	font-size: 1.8em;
	color: #FFF;
	background: transparent;
	right: 75px;	
	opacity: 0.8;
  	cursor: pointer;
  	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
  	-webkit-transform: translate3d(0, 0, 0px);
		transform: translate3d(0, 0, 0px);

  	&:hover {
  		opacity: 1;
  	}

}

.back-button {
   position: fixed;
  z-index: 2001;
  margin: 0.8em;
  padding: 0px;
  width: 1.5em;
  height: 1.5em;
  border: none;
  font-size: 1.6em;
  color: #fff;
  background: transparent;
  right: 160px;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
  padding: 10px 0 0 0;

  	&:hover {
  		opacity: 1;
  		color: #fff;
  	}

	

}

.menu-notification {

}

.menu-nav {
	background: none;
	width: 100%;
	padding: 0;
	margin: 0;

	h3 {
		padding: 0 17px;
		margin: 20px 0 15px 0;
		font-size: 23px;
		position: relative;

		.fa {
			position: absolute;
			right: 15px;
			font-size: 15px;
			@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
			-webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    top: 4px;
    color: #999;
		}
	}

	li {

	}	

	ul {
		padding: 0;
		display: inline-block;
		margin: 0;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));

		&.is-expanded {
			background: #eee;

			h3  .fa {
				    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
			}
		}
	}

	a {
		position: relative;
		display: block;
		height: 60px;
		line-height: 60px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #4e5359;
		/*border-bottom: 1px solid #ccc;*/
		font-size: 16px;
		font-weight: 600;
		padding: 0 17px;
		text-decoration: none;
		@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
	    cursor: pointer;

		&:hover {
			background: #f3f3f3;
		}

		&.active {
			color: #0083FF;
		}

		span {
			margin-left: 10px;
		}

		.badge {
			position: absolute;
			right: 10px;
			top: 20px;
		}

	}

	.menu-nav-btn {
		position: absolute;
		top: 0px;
		right: 0px;
		color: rgb(153, 153, 153);
		width: 60px;
		padding: 15px;
		height: 60px;

		&:hover {
			background: #eee;
		}

		.fa {
			-webkit-transform: translate3d(10px , -15px, 0px);
			transform: translate3d(10px , -15px, 0px);


		}
	}
}	



.menu-wrap {
	position: fixed;
	z-index: 4001;
	width: 300px;
	height: 100%;
	background: #f7f7f7;
	padding: 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(305px,0,0);
	transform: translate3d(305px,0,0);
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
	@include box-shadow;
	right: 0;
	top: 90px;

	@include media($mobile) {
		top: 60px;
	}


	
}

.menu-bottom {
	padding: 0px;
	position: absolute;
	bottom: 90px;
	margin: 0;
	right: 0;
	width: 100%;
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
    background: #eee;

	@include media($mobile) {
	      bottom: 60px;
	  }

	a {
		position: relative;
		display: block;
		height: 60px;
		line-height: 60px;
		color: #333;
		font-size: 16px;
		font-weight: 600;
		padding: 0px 17px;
		text-decoration: none;
		transition: all 0.2s ease-out 0s;
		cursor: pointer;
	}
}

.content-wrap {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	margin-left: 0;
	margin-right: 0;
	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
	overflow-y: scroll;
	width: auto;
	height: 100%;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 0px;
	transform: translate3d(0px, 90px, 0px);
}



.content-bar {
	position: fixed;
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: auto;
	height: 45px;
	border-bottom: 1px solid #ddd;
	background: #fff;
	z-index: 1;
	padding: 0;
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
	left: 0;
	right: 0;
}

 .menu-wrap.show {
 	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
 }

 .menu-wrap.show + .content {
 	opacity: 0.1;
 }

.btn {
  @include btn;
  font-size: 12px;

  &:hover {
  	color: #fff;
  	background-color: darken(#0083ff, 10%);
  }
}




$text-header: new-breakpoint(max-width 400px 6);

.simple-entries {
		
 }

.page-header {
	text-align: center;
	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));

	$tv: new-breakpoint(min-width 1500px 20);

  @include media($tv) {
     
      
  }

	@include media($mobile) {
	     
	  }

	h1 {
		display: inline-block;
		width: 100%;
	}

	h4 {
		margin: 10px 0 30px 0;
		border-bottom: 1px solid #ddd;
		@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
		padding: 20px 0 5px 0;

		@include media($mobile) {
	        margin: 10px 0;
  			font-size: 18px;
	  }

		a {
			margin: 0 30px 0 0;

		}

		a.active {
		  	color: #0083ff;
			border-bottom: 4px solid #0083ff;
			padding: 0 0 5px 0;
		}
	}

	h3 {
		@include span-columns(6);
  		@include shift(3);
		border-bottom: 1px solid #ddd;

		
	}
}

.entry-list.-friends {
  	


  	padding: 0;
	
	.entry-item {
		border-bottom: 1px solid #ddd;
		font-size: 20px;
		display: block;

		.friend-meta{
			@include span-columns(10);
		}

		.friend-actions {
			@include span-columns(2);
		}

		.friend-name {
			font-family: $font-sans-narrow;
			font-size: 20px;
			display: block;
		}

		.friend-mail {
			font-family: $font-sans;
			font-size: 15px;
		}

		.friend-delete {
			 @include btn;
			 font-size: 16px;
		}

		&:last-child {
			border: none;
		}


	}

}

.entry-list {
	h4 {
		margin: 25px 0 5px 0;
	}
}

$mobile: new-breakpoint(max-width 600px 6);

.section-header {
	@include span-columns(10);
  	@include shift(1);
  	position: relative;
  	margin-bottom: 0;
  	border-bottom: 1px solid #ccc;
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
    margin-top: 25px;


  	@include media($mobile) {
		@include span-columns(6);
		@include shift(0);
	}

  	 h1 {
  	 	    display: inline-block;
    margin: 10px 0 10px 0;
    font-size: 42px;
    font-weight: 300;
  	 }

  	 .btn {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 36px;
		height: 31px;
		font-size: 15px;
		background: none;
		color: #0083ff;
  	 }

  	 &.-table {
  	 	border: none;
  	 }
}

.section-content {
	@include span-columns(10);
  	@include shift(1);
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));


  	@include media($mobile) {
		@include span-columns(6);
		@include shift(0);
	}

  	li {
		
		display: inline;
		position: relative;

  		a {
			margin: 0 20px;
  		}
  	}



}



#blankslate {
	text-align: center;
}


.friend-container {
	@include span-columns(8);
  	@include shift(2);
  	position: relative;
  	@include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));
	
	.friend-item {
		@include outer-container(100%);
		border-bottom: 1px solid #ddd;
		margin-bottom: 15px;
		padding: 15px;
		background-color: #fff;

		&:last-child {
			border: none;
		}

	}

	.friend-img {
		@include span-columns(2);

		@include media($mobile) {
			@include span-columns(1);
			@include shift(0);
		}

	}

	.friend-name {
		@include span-columns(5);

		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
		}


		p {
			margin: 0 0 10px 0;

			small {

			}
		}

	}

	.friend-actions {
		float: right;
		display: block;
		width: auto;

		.-white {
			  background: white;
  				color: #0083ff;
		}

		@include media($mobile) {
			@include span-columns(5);
			@include shift(1);
		}

	}


	a {
		  text-align: center;
		  padding: 5px 7px;
		  font-size: 10px;
		  display: inline-block;
	}
	
	$groups: new-breakpoint(max-width 800px 6);

  	@include media($groups) {
		@include span-columns(6);
		@include shift(0);
	}

	.img-container {
		  border-radius: 50%;
		  border: 2px solid #ddd;
		  width: 50px;
		  overflow: hidden;
		  height: 50px;

		img {
			width:50px;
			height: auto;
			height: 70px;
		}
	}

}

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.event-meta {
	 border-bottom: 1px solid #ddd;
	@include span-columns(6);
	@include shift(3);

	.event-owner {

	}

	h1 {
		    text-align: left;
  border-bottom: 2px solid #ddd;
  margin: 0;
  padding-right: 120px;
  position: relative;

		
		.btn {
			    top: 7px;
  position: absolute;
  right: 0;
		}

	}

	@include media($mobile) {
		@include span-columns(6);
		@include shift(0);
	}




}

.img-container-event {
	@include span-columns(6);
	@include shift(3);
	@include box-shadow;
	position: relative;
  	top: -100px;

	img {
		width: 100%;
	}

}