<section>
	<div class="section-header">
		<h1>Nueva Persona</h1>
		{{link-to "Todos las personas" "data-entry.elections.people.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/people/form"}}
	</div>
</section>
