 <div class="welcome-friend -about">
	<img src="assets/images/anim-oblat.svg" style="height: 150px; width: 150px;">
	<div class="intro-about">
		<p>OBLAT tiene por objetivo contribuir con los debates sobre los procesos democráticos de América Latina, a partir de la recopilación y divulgación de los procesos electorales desde 1998 hasta la actualidad. En la plataforma se puede encontrar: historia de los partidos, perfiles de candidatos, legislación electoral, normativas, padrones electorales, resultados electorales históricos y análisis de coyuntura, entre otros temas. El OBLAT es un espacio de investigación y actualización de información constante, creado con la convicción de que una América Latina integrada sólo es posible sobre la base de un conocimiento profundo de nuestras democracias.</p>
	</div>

	<div class="members">
		<div class="member-charge">
			<p><b>Directora</b> <br>
			Dra. Inés Nercesian	</p>
		</div>

		<div class="member-charge">
			<p><b>Codirectora</b> <br>
			Lic. María Constanza Costa</p>
		</div>

		<div class="member-people">
			<p><b>Integrantes</b> <br>
			Malena Azcona,
			Santiago Barassi,
			Lautaro Barriga,
			Julieta Beristain,
			Emmanuel Bonforti,
			Yamila Iphais Fuxman,
			Lucía Giambroni,
			Camila Matrero,
			Lucila Rotger,
			María Soledad Sandiver,
			Martín Szulman,
			Luis Wainer</p>
		</div>
	</div>

	<div class="about-board">
		<p><b>Comité Académico</b> <br>
		
		Rafael Follonier,
			Waldo Ansaldi,
			Gerardo Caetano,
			Ricardo Aronskind,
			Juan Paz y Miño Cepeda,
			Manuel Antonio Garretón,
			Mario Toer,
			Verónica Giordano,
			Jean Tible,
			Gastón Salcedo,
			Negrin Damaris,
			Amilcar Salas Oroño</p>
		
	</div>

</div>

{{outlet}}


