 <div class="welcome-friend -about" style="background: #fff;">
	<img src="assets/images/anim-oblat.svg" style="height: 150px; width: 150px;">
	<div class="intro-about">
		<p>OBLAT tiene por objetivo contribuir con los debates sobre los procesos democráticos de América Latina. La plataforma reúne información sobre resultados electorales, sistemas y partidos políticos desde la década de los noventa. El OBLAT es un espacio de investigación creado con la convicción de que una América Latina integrada sólo es posible sobre la base de un conocimiento profundo de nuestras democracias.</p>
	</div>

	<div class="members">
		<div class="ui cards" style="justify-content: center;">
			<div class="card director">
				<div class="image">
				  <img src="assets/images/members/ines-nercesian.jpg">
				</div>
				<div class="content">
				  <div class="header">Dra. Inés Nercesian</div>
				  <div class="description">
				    Directora
				  </div>
				</div>
			</div>
		</div>
		<div class="ui cards" style="justify-content: center;">

			<div class="card subdirector">
				<div class="image">
				  <img src="assets/images/members/default-image.jpg">
				</div>
				<div class="content">
				  <div class="header">Lic. María Constanza Costa</div>
				  <div class="description">
				    Codirectora
				  </div>
				</div>
			</div>
			<div class="card subdirector">
				<div class="image">
				  <img src="assets/images/members/ariadna-gallo.jpg">
				</div>
				<div class="content">
				  <div class="header">Dra. Ariadna Gallo</div>
				  <div class="description">
				    Investigadora
				  </div>
				</div>
			</div>
		</div>

		<div class="ui cards" style="justify-content: center;">
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/luis-wainer.jpg">
				</div>
				<div class="content">
				  <div class="header">Luis Wainer</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/santiago-barassi.jpg">
				</div>
				<div class="content">
				  <div class="header">Santiago Barassi</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/lautaro-barriga.jpg">
				</div>
				<div class="content">
				  <div class="header">Lautaro Barriga</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/camila-matrero.jpg">
				</div>
				<div class="content">
				  <div class="header">Camila Matrero</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>

			<div class="card">
				<div class="image">
				  <img src="assets/images/members/sol-sebastian.jpg">
				</div>
				<div class="content">
				  <div class="header">Sol Sebastian</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>

			<div class="card">
				<div class="image">
				   <img src="assets/images/members/emmanuel-bonforti.jpg">
				</div>
				<div class="content">
				  <div class="header">Emmanuel Bonforti</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			
			
			
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/roberto-cassaglia.jpg">
				</div>
				<div class="content">
				  <div class="header">Roberto Cassaglia</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/rocio-drabenche.jpg">
				</div>
				<div class="content">
				  <div class="header">Rocio Drabenche</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/default-image.jpg">
				</div>
				<div class="content">
				  <div class="header">Martín Szulman</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/nayla-bosch.jpg">
				</div>
				<div class="content">
				  <div class="header">Nayla Bosch</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/jimena-frei.jpg">
				</div>
				<div class="content">
				  <div class="header">Jimena Frei</div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/yamila-iphais-fuxman.jpg">
				</div>
				<div class="content">
				  <div class="header">Yamila Iphais Fuxman </div>
				  <div class="description">
				    Integrante
				  </div>
				</div>
			</div>
		</div>
		<h2 style="text-align: center; margin: 50px 0 0 0;">Comité Académico</h2>
		<div class="ui cards comite-academico" style="justify-content: center;">
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/rafael-follonier.jpg">
				</div>
				<div class="content">
				  <div class="header">Rafael Follonier</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/waldo-ansaldi.jpg">
				</div>
				<div class="content">
				  <div class="header">Waldo Ansaldi</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/gerardo-cataneo.jpg">
				</div>
				<div class="content">
				  <div class="header">Gerardo Caetano</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/ricardo-aronskind.jpg">
				</div>
				<div class="content">
				  <div class="header">Ricardo Aronskind</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/juan-paz-y-mino-cepeda.jpg">
				</div>
				<div class="content">
				  <div class="header">Juan Paz y Miño Cepeda</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/manuel-antonio-garreton.jpg">
				</div>
				<div class="content">
				  <div class="header">Manuel Antonio Garretón</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/mario-toer.jpg">
				</div>
				<div class="content">
				  <div class="header">Mario Toer</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/veronica-giordano.jpg">
				</div>
				<div class="content">
				  <div class="header">Verónica Giordano</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/jean-tible.jpg">
				</div>
				<div class="content">
				  <div class="header">Jean Tible</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/default-image.jpg">
				</div>
				<div class="content">
				  <div class="header">Gastón Salcedo</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/default-image.jpg">
				</div>
				<div class="content">
				  <div class="header">Negrin Damaris</div>
				</div>
			</div>
			<div class="card">
				<div class="image">
				  <img src="assets/images/members/amilcar-salas-orono.jpg">
				</div>
				<div class="content">
				  <div class="header">Amilcar Salas Oroño</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{outlet}}


