 <div class="welcome-friend -about">

	<dl class="intro-about">
		<dt><span>Sobre nosotros</span></dt>
		<dd>
			<p>OBLAT tiene por objetivo contribuir con los debates sobre los procesos democráticos de América Latina, a partir de la recopilación y divulgación de los procesos electorales desde 1998 hasta la actualidad. En la plataforma se puede encontrar: historia de los partidos, perfiles de candidatos, legislación electoral, normativas, padrones electorales, resultados electorales históricos y análisis de coyuntura, entre otros temas. El OBLAT es un espacio de investigación y actualización de información constante, creado con la convicción de que una América Latina integrada sólo es posible sobre la base de un conocimiento profundo de nuestras democracias.</p>
		</dd>
	</dl>

	<dl class="about-board">
		<dt><span>Comité Académico</span></dt>
		<dd>
			<p>Rafael Follonier</p>
			<p>Waldo Ansaldi </p>
			<p>Gerardo Caetano</p>
			<p>Ricardo Aronskind </p>
			<p>Juan Paz y Miño Cepeda</p>
			<p>Manuel Antonio Garretón</p>
			<p>Mario Toer</p>
			<p>Verónica Giordano </p>
			<p>Jean Tible</p>
			<p>Gastón Salcedo</p>
			<p>Negrin Damaris</p>
			<p>Amilcar Salas Oroño</p>
		</dd>
	</dl>



	<dl class="members">
		<dt><span>Directora</span></dt>
		<dd>Dra. Inés Nercesian</dd>

		<dt><span>Codirectora</span></dt>
		<dd>Lic. María Costanza Costa</dd>

		<dt><span>Integrantes</span></dt>
		<dd>
			<p>Malena Azcona</p>
			<p>Santiago Barassi</p>
			<p>Lautaro Barriga</p>
			<p>Julieta Beristain</p>
			<p>Emmanuel Bonforti</p>
			<p>Yamila Iphais Fuxman</p>
			<p>Lucía Giambroni</p>
			<p>Camila Matrero</p>
			<p>Lucila Rotger</p>
			<p>María Soledad Sandler</p>
			<p>Martín Szulman</p>
			<p>Luis Wainer</p>
		</dd>
	</dl>

</div>

{{outlet}}


