<ul class="home-report-list">
	<h2 style="border-bottom: 1px solid #333; padding-bottom: 13px;margin: 10px 0 0 0;">Últimos reportes</h2>
	{{#each model.reports as |report|}}
	<li class="report-item">
		<h4 class="title">
			{{#link-to 'reports.show' report}}
				{{report.title}}
			{{/link-to}}
		</h4>
		<p class="excerpt">
			{{report.excerpt}}
			{{#link-to 'reports.show' report class="read-more"}}Leer más <span>&rsaquo;</span>{{/link-to}}
		</p>
		<time>Publicado {{time-ago-in-words report.createdAt}}</time>
	</li>
	{{/each}}
</ul> 