<section>
	<div class="section-header">
		<h1>Crear Provincia</h1>
		{{link-to "Todos los Paises" "data-entry.elections.provinces.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/provinces/form"}}
	</div>
</section>

