<section>
	<div class="section-header">
		<h1>Alineacion politica</h1>
		{{link-to "Ver todos" "admin.political-alines.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/political-alines/form"}}
	</div>
</section>

