$text-header-app: new-breakpoint(max-width 500px 6);

header {
	
	&.welcome {
		    background: #fff;
    position: fixed;
    z-index: 2000;
    right: 0;
    left: 0;
    height: 80px;
	}

	&.-home {
		background: #fff;
	}

	.container-header {
		max-width: 70vw;
		margin: 15px auto;
		@include display(flex);
		@include justify-content(space-between);

		@include media($mobile) {
			max-width: 100%;
		}

		.logo-home {
			@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));

			img {
				width: 130px;
				margin: 0;
			}
		}

		nav {

			ul {
			margin: 0;
			padding: 0;
			@include display(flex);
			@include justify-content(center);
			flex-wrap: wrap;
			list-style: none;
			}

			li {
				padding: 15px 10px;
				font-size: 16px;
				max-width: 140px;
				font-weight: bold;
				text-decoration: none;
				display: flex;
				align-items: flex-start;
				color: #3FA9F5;
			}
		}
	}

	&.-admin {
		background: #1EBCEF;
		width: 100%;
	height: 90px;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	background: #0083ff;
	position: fixed;
	z-index: 4002;
	top: 0;
	@include box-shadow;
	}

	h3 {
	position: fixed;
	width: auto;
	text-align: left;
	padding: 0 15px 0 100px;
	color: #fff;
	    font-size: 25px;
    margin: 30px 0;
	@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));

		a, a:hover, a:active, a:focus{
			color: #fff;
		}


		@include media($mobile) {
			margin: 12px 0 0 0;
			font-size: 30px;
			padding: 0 15px 0 70px;
		}

	  	

		@include media($text-header-app) {
			display: none;
		}
	}

	@include media($mobile) {
		height: 60px;

		.logo {
			margin: 0;
			-ms-transform: scale(0.65);
			-webkit-transform: scale(0.65);
			transform: scale(0.65);
		}

		.search-button, .menu-button {
			margin: 0.3em;
		}
	}
	
	.log-out {
		@include transition(all 0.4s cubic-bezier(0.7,0,0.3,1));
	    float: right;
	    font-size: 20px;
	    padding: 32px;
	    color: rgba(255,255,255,.75);
	    cursor: pointer;
	    background: none;
	    z-index: 3000;
	    position: relative;
	    right: 60px;

	    @include media($mobile) {
			font-size: 16px;
			padding: 20px;
	    }

	    @include media($text-header-app) {
			span {
				display: none;
			}	
		}

	    .fa {
	    	margin-left: 15px;
	    }

	    &:hover {
	    	color: rgba(255,255,255,1);
	    }
	}
}