.pixel-map {
	height: calc(100vh - 80px);
	overflow: hidden;
	-webkit-transition: all 2s;
	transition: all 2s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    background: url("/assets/images/back-map.svg");
    background-size: 138px;

	g {
	    pointer-events: bounding-box;
	    cursor: pointer;
	}


	svg {
		height: 200%;
		width: 100%;
		-webkit-transition: all 2s;
		transition: all 2s;
		-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transform: translate(-180px, -340px) scale(0.6);
		-webkit-transition-delay: 1s; /* Safari */
    	transition-delay: 1s;
    }

    circle {
    	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		-webkit-transition: all 4.5s;
		transition: all 4.5s;
    }


    &.argentina {
	    height: 200px;

    	svg {
			transform: translate(-340px, -70px) scale(2.2) rotate(-90deg);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-argentina {
	    	circle {
	    		fill: #3FA9F5;
	    		opacity: 1;
	    	}
	    }
    }

    &.peru {
	    height: 200px;
        background-color: #e74c3c;

    	svg {
			transform: translate(-170px, -20px) scale(2.5);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-peru {
	    	circle {
	    		fill: #fff;
	    		opacity: 1;
	    	}
	    }
    }

    &.brasil {
	    height: 200px;
	    background-color: #27ae60;

    	svg {
			transform: translate(-250px, -60px) scale(1.8);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-brasil {
	    	circle {
	    		fill: #2980b9;
	    		opacity: 1;
	    	}
	    }
    }

    &.venezuela {
	    height: 200px;
		background-color: #f1c40f;

    	svg {
			transform: translate(-250px, 190px) scale(3.2);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-venezuela {
	    	circle {
	    		fill: #e74c3c;
	    		opacity: 1;
	    	}
	    }
    }

    &.colombia {
	    height: 200px;
		background-color: #3498db;

    	svg {
			transform: translate(-170px, 90px) scale(2.2);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-colombia {
	    	circle {
	    		fill: #f1c40f;
	    		opacity: 1;
	    	}
	    }
    }

    &.uruguay {
	    height: 200px;
		background-color: #3498db;

    	svg {
			transform: translate(-310px, -350px) scale(3.8);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-uruguay {
	    	circle {
	    		fill: #f1c40f;
	    		opacity: 1;
	    	}
	    }
    }

    &.paraguay {
	    height: 200px;
	    background-color: #e74c3c;

    	svg {
			transform: translate(-300px, -190px) scale(2.8);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-paraguay {
	    	circle {
	    		fill: #3498db;
	    		opacity: 1;
	    	}
	    }
    }

    &.bolivia {
	    height: 200px;
		background-color: #2ecc71;

    	svg {
			transform: translate(-240px, -90px) scale(3.2);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-bolivia {
	    	circle {
	    		fill: #f1c40f;
	    		opacity: 1;
	    	}
	    }
    }

     &.ecuador {
	    height: 200px;
		background-color: #f1c40f;

    	svg {
			transform:translate(-170px, 220px) scale(5.2);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-ecuador {
	    	circle {
	    		fill: #3498db;
	    		opacity: 1;
	    	}
	    }
    }

     &.chile {
	    height: 200px;
		background-color: #2980b9;
    	svg {
			transform: translate(-320px, -120px) scale(2.8) rotate(-90deg);
	    }

	    .country {
	    	circle {
	    		fill: #333;

	    		opacity: 0.1;
	    	}
	    }

	    .-chile {
	    	circle {
	    		fill: #e74c3c;
	    		opacity: 1;
	    	}
	    }
    }

}

.rest-world {
	circle {
	    opacity: 0.1;
	}
}

.-ecuador {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-colombia {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-paraguay {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-bolivia {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-peru {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-venezuela {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-chile {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-argentina {
	circle {
		fill: #3FA9F5;
		opacity: 0.5;
	}

	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-uruguay {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}

.-brasil {
	circle {
		//fill: #333;
		opacity: 0.5;
	}
	&:hover {
		circle {
			opacity: 1;
		}
	}
}
