.hero {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: #477DCA !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: #fff;
  $gradient-angle: 10deg;
  //$hero-image: 'images/profile-background.jpg';

  @include background(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;

  .hero-logo {
      position: relative;

      &.-profile {
         height: 140px;
      }

    .input-avatar {
        position: absolute;
        width: 100%;
        height: 140px;
        top: 0;
        @include transition(all 0.3s cubic-bezier(0.7,0,0.3,1));

        &:hover {
          .btn-input-camera {
            opacity: 0.8;
          }
        }

         .progress-bar {
            
         }

         .btn-input-camera {
          color: #fff;
          top: 2px;
          position: absolute;
          width: 136px;
          left: 50%;
          background: #333;
          border-radius: 50%;
          height: 136px;
          margin-left: -68px;
          z-index: 0;
          opacity: 0.5;
          font-size: 40px;
          text-align: center;
          padding: 0;
         }

        input[type=file] {
           color: transparent;
            outline: 0;
            width: 140px;
            height: 140px;
            -webkit-transform: translate3d(0px, 0, 0px);
            transform: translate3d(0px, 0x, 0px);
            z-index: 1;
            position: relative;
            opacity: 0;
            cursor: pointer;

           &:active {
             outline: 0;
           }
      }
  }

  input::-webkit-input-placeholder { color:#ddd; opacity: 0.5; }
  input::-moz-placeholder { color:#ddd; opacity: 0.5; } /* firefox 19+ */
  input:-ms-input-placeholder { color:#ddd; opacity: 0.5; } /* ie */
  input:-moz-placeholder { color:#ddd; opacity: 0.5; }
    
    .img-container {

         /* position: absolute; */
        clip: rect(0px, 140px, 140px, 0px);
        width: 140px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
        margin:0 auto 5px;
          border: 2px solid #ddd;
          @include box-shadow;
            
            > img {
              position: relative;
        left: -50%;
        top: 0;
        display: block;
        width: 280px;
            }

          }

    .avatar-load {
      
      cursor: pointer;

        input {
          display: block !important;
        width: 157px !important;
        height: 57px !important;
        opacity: 0 !important;
        overflow: hidden !important;
              }
          }

    
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2em 0;
    text-align: center;

    .hero-copy {
      text-align: center;

      a {
        color: #fff;
      }
      
      h1 {
        font-size: 1.6em;
          margin: 20px 0 0 0;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    .simple-form-profile {

      input[type=text] {
          background: none;
          border: none;
          border-bottom: 1px solid;
          outline: 0;
            width: 280px;
              height: 45px;
      }

    }

    button {
      @include btn;
      padding: 0.7em 1em;
    }
  }
}

$mobile: new-breakpoint(max-width 800px 6);


.profile-entries {

  .entry-list {
    
    }

    .-files {

     .entry-image-container {
        float: left;
  width: 25%;
  height: 120px;
  overflow: hidden;
  border: 2px solid #eee;

  img {
    width: 100%
    }

    }

   
  }
}



.action-bar-btn {
  position: fixed;
  top: 102px;
  left: 25px;
  z-index: 3000;
  font-weight: 600;
  font-family: $font-sans;
  font-size: 16px;
  color: #0083FF;
  @include transition(all 0.3s ease-in-out);

  &:hover {
    color: #333;
  }

  //TODO Hacer widget de action bar
  &.left135 {
    left: 135px;
  }
}