.tooltipster-default {
	border-radius: 5px; 
	background: #00b4e1;
	color: #fff;
	border: none;
}
/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: $font-sans;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}