<section>
	<div class="section-header">
		<h1>Crear nivel de elección</h1>
		{{link-to "Ver todos" "data-entry.elections.election-levels.index" classNames="btn"}}
	</div>
	
	<div class="section-content">
		{{partial "data-entry/elections/election-levels/form"}}
	</div>
</section>

