<div class="ejecutive-item -brief">
	<div class="item-title">
		<h5>{{formula.politicalForce.name}}</h5>
	</div>
	<div class="item-content">	
	<!-- <div class="item">
		 {{format-number formula.votes format="0.0"}}
	</div>-->
	<div class="item">
		{{formula.percent}}%
	</div>
	</div> 
</div> 	