<section>
	<div class="section-header">
		<h1>Crear participación</h1>
		{{link-to "Ver todos" "admin.election-participations.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/election-participations/form"}}
	</div>
</section>

