<section>
	<div class="section-header">
		<h1>Crear  usuario</h1>
		{{link-to "Ver usuarios" "admin.users.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/users/form"}}
	</div>
</section>
