<section>
	<div class="section-header">
		<h1>Crear Pais</h1>
		{{link-to "Todos los Paises" "data-entry.elections.countries.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/countries/form"}}
	</div>
</section>

