<section>
	<div class="section-header">
		<h1>Crear Reporte</h1>
		{{link-to "Todos los reportes" "data-entry.elections.reports.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/elections/reports/form"}}
	</div>
</section>