<section>
	<div class="section-header">
		<h1>Editar Persona</h1>
		{{link-to "Todos las personas" "data-entry.municipabilities.people.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "data-entry/municipabilities/people/form"}}
	</div>
</section>
