<form {{action "save" on="submit"}} class="create-event">
  <div>
    <label>
      Nombre
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Descripción
      {{input type="text" value=model.description}}
    </label>
  </div>
  <div>
    <input type="submit" value="Guardar">
  </div>
</form>
