<section>
	<div class="section-header">
		<h1>Nuevo rol</h1>
		  {{link-to "Ver roles" "admin.roles.index"  classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/roles/form"}}
	</div>
</section>


