<section>
	<div class="section-header">
		<h1>Crear nivel de eleccion</h1>
		{{link-to "Todos los tipos" "admin.camera-types.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/camera-types/form"}}
	</div>
</section>

