<section>
	<div class="section-header">
		<h1>Crear cámara</h1>
		{{link-to "Ver todas" "admin.camera-types.index" classNames="btn"}}
	</div>

	<div class="section-content">
		{{partial "admin/camera-types/form"}}
	</div>
</section>

